.Time{
    text-shadow: 0 0 3px rgba(150, 150, 150, 0.3), 0 0 5px rgba(150, 150, 150, 0.3);
    letter-spacing: -0.01em;
}

.Links{
    font-size: 0.6em;
}

.Search input{
    border: solid 3px;
    border-radius: 1em;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 200ms;
}

.Search input:hover{
    color: rgba(255, 255, 255, 0.5);
}

.Search input:focus{
    color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}


.Search input:focus::placeholder {
    color: #fff;
    opacity: 1;
}


.Time hr{ border: 0;}
.Dashboard{ text-shadow: 0 0 .5rem rgba(0,0,0,0);}


.Links{
    display: grid;
}

.Links a:hover{
    background-color: rgb(0,0,0,0.3);
    padding: 10px;
    border-radius: 1.3em;
    text-decoration: none;
}

.Links a{
    padding: 10px 15px;
}
